<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/videochat.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Videochat</title>
</head>
<body>
  <main>
    <div class="videos" id="videos">
        <video class="video" id="webcamVideo" autoplay playsinline muted></video>
        <video class="video" id="remoteVideo" autoplay playsinline></video>
    </div>
    <div class="buttons" id="buttons">
      <button id="muteButton" class="btn"><img src="/images/microphone.svg" alt="microphone" id="muteImage"></button>
      <button id="soundButton" class="btn"><img src="/images/Speaker.svg" alt="bell" id="soundImage"></button>
      <button id="webcamButton" class="btn"><img src="/images/cam.svg" alt="cambutton" id="camImage"></button>
      <button id="hangupButton" class="btn"><img src="/images/Hangup.svg" alt="Hangup"></button>
      <button id="popup" class="btn"><img src="/images/Arrowup.svg" alt="arrowup"></button>
    </div>

    <div class="hero" id="hero">
      <div class="closebuttons">
        <button id="close" class="closebtn"><img src="/images/Cross.svg" alt="cross"></button>
      </div>
      <header>
        <h1>Sportswik</h1>
      </header>
      <h2>Make a call or join a call</h2>
      <div class="joincallfield">
        <input id="callInput" class="inputbox" placeholder="Type call ID"/>
        <button id="answerButton" class="btn btn-call"><img src="/images/Answear.svg" alt="Answear">Join call</button>
      </div>
      <button id="callButton" class="btn btn-call"><img src="/images/Plus.svg" alt="Answear">Create new call</button>
    </div>
  </main>
  <script type="module" src="/javascripts/bundle.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>